.containerflex {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
}

.itemflex {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  width: 200px;
  height: 200px;
  font-size: medium;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containergrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 20px;
}

.itemgrid {
  border: 1px solid black;
  padding: 10px;
  font-size: medium;
  text-align: center;
}

div.static {
  position: static;
  border: 3px solid black;
  background-color: lightgreen;
}

div.relative {
  position: relative;
  left: 30px;
  border: 2px solid black;
  background-color: lightcyan;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid black;
  background-color: aqua;
}
div.absolute {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  background-color: yellow;
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: pink;
  border: 1px solid black;
}
